
/**
 * Range
 * --------------------------------------------------
 */

 .range input{
  display: inline-block;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 2px;
  padding-left: 1px;
  width: auto;
  height: 43px;
  outline: none;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ccc), color-stop(100%, #ccc));
  background: linear-gradient(to right, #ccc 0%, #ccc 100%);
  background-position: center;
  background-size: 99% 2px;
  background-repeat: no-repeat;
  -webkit-appearance: none;

  &::-moz-focus-outer {
    /* hide the focus outline in Firefox */
    border: 0;
  }

  &::-webkit-slider-thumb {
    position: relative;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: $light;
    box-shadow: 0 0 2px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    -webkit-appearance: none;
    border: 0;
  }

  &::-webkit-slider-thumb:before{
    /* what creates the colorful line on the left side of the slider */
    position: absolute;
    top: 13px;
    left: -2001px;
    width: 2000px;
    height: 2px;
    background: #444;
    content: ' ';
  }

  &::-webkit-slider-thumb:after {
    /* create a larger (but hidden) hit area */
    position: absolute;
    top: -15px;
    left: -15px;
    padding: 30px;
    content: ' ';
    //background: red;
    //opacity: .5;
  }
   &::-ms-fill-lower{
     height: 2px;
     background:#444;
   }
   /*
   &::-ms-track{
     background: transparent;
     border-color: transparent;
     border-width: 11px 0 16px;
     color:transparent;
     margin-top:20px;
   }
   &::-ms-thumb {
     width: $range-slider-width;
     height: $range-slider-height;
     border-radius: $range-slider-border-radius;
     background-color: $toggle-handle-off-bg-color;
     border-color:$toggle-handle-off-bg-color;
     box-shadow: $range-slider-box-shadow;
     margin-left:1px;
     margin-right:1px;
     outline:none;
   }
   &::-ms-fill-upper {
     height: $range-track-height;
     background:$range-default-track-bg;
   }
   */
}

.range {
  @include display-flex();
  @include align-items(center);
  padding: 2px 11px;

  &.range-light {
    input { @include range-style($light-border); }
  }
  &.range-stable {
    input { @include range-style($stable-border); }
  }
  &.range-positive {
    input { @include range-style($positive-bg); }
  }
}

.range .iconfont {
  @include flex(0);
  display: block;
  min-width: 24px;
  text-align: center;
  font-size: 16px;
}

.range input {
  @include flex(1);
  display: block;
  margin-right: 10px;
  margin-left: 10px;
}

.range-label {
  @include flex(0, 0, auto);
  display: block;
  white-space: nowrap;
}

.range-label:first-child {
  padding-left: 5px;
}
.range input + .range-label {
  padding-right: 5px;
  padding-left: 0;
}

// WP range height must be auto
.platform-windowsphone{
  .range input{
    height:auto;
  }
}
