
/**
 * Select
 * --------------------------------------------------
 */

.item-select {
  position: relative;

  select {
    @include appearance(none);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 ($item-padding * 3) 0 $item-padding;
    max-width: 65%;

    border: none;
    background: $light-bg;
    color: #333;

    // hack to hide default dropdown arrow in FF
    text-indent: .01px;
    text-overflow: '';

    white-space: nowrap;
    font-size: 14px;

    cursor: pointer;
    direction: rtl; // right align the select text
  }

  select::-ms-expand {
    // hide default dropdown arrow in IE
    display: none;
  }

  option {
    direction: ltr;
  }

  &:after {
    position: absolute;
    top: 50%;
    right: $item-padding;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    color: #999;
    content: "";
    pointer-events: none;
  }
  &.item-light {
    select{
      background:$light-bg;
      color:$light-text;
    }
  }
  &.item-stable {
    select{
      background:$stable-bg;
      color:$stable-text;
    }
    &:after, .input-label{
      color:darken($stable-border,30%);
    }
  }
  &.item-positive {
    select{
      background:$positive-bg;
      color:$positive-text;
    }
    &:after, .input-label{
      color:$positive-text;
    }
  }

}

select {
  &[multiple],
  &[size] {
    height: auto;
  }
}
