//购物车
.store-link {
  padding: 8px 13px;
  background: #fff;
  font-size: .7rem;
  .badge {
    top: 8px;
  }
}
.list-customize-order{
  .swipeCon{
    position: relative;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .product-delete{
    position: absolute;
    right: -50px;
    width: 50px;
    height: 100%;
    top: 0;
    text-align: center;
    background: #f60;
    a{
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      color: #fff;
      font-size: 16px;
      white-space: nowrap;
    }
  }
  .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #f22f2e;
    border-color: #f22f2e;
  }
  .store-link{
    background: #fafafa;
  }
  .item-checkbox{
    padding-left: 45px;
  }
  .checkbox{
    position: absolute;
    width: 44px;
    left: 0;
    &.hide{
      display: none;
    }
  }
  .product{
    position: relative;
    .product-info{
      h2{
        font-size: 15px;
        height: 39px;
      }
    }
  }
  .product-img{
    margin-right: 10px;
    .out-of-stock{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      line-height: 4.5rem;
      color: #fff;
      font-size: .75rem;
    }
  }
  .product-info{
    .quantity{
      float: right;
      input{
        position: inherit;
      }
    }
  }
  .activity{
    font-size: 12px;
    margin-top: 8px;
    .label{
      vertical-align: baseline;
    }
    .activity-cut{
      color: #f22f2e;
    }
    .activity-back{
      color: #1acda3;
    }
  }
}
.footer-no-padding{
  .button.button-clear{
    width: 50px;
    line-height: 44px;
    font-size: 14px;
    color: #333;
  }
  .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #f22f2e;
    border-color: #f22f2e;
  }
}
//底部
.footer-no-padding{
  padding: 0;
  .row{
    padding: 0;
    .price{
      line-height: 44px;
      font-size: .75rem;
      padding-left: 15px;
      color: #f22f2e;
    }
  }
  .button-full{
    margin: 0;
    height: 44px;
    font-size: .75rem;
    border-color: #f22f2e;
    background-color: #f22f2e;
  }
  .item-checkbox{
    display: inline-block;
    padding-left: 50px;
    line-height: 44px;
    width: 85px;
    font-size: 14px;
    .checkbox{
      width: 44px;
      left: 0;
    }
  }
}
// 商品
.ad{
  display: block;
  width: 100%;
}
.item-product{
  padding: 13px 10px;
  .exp{
    font-size: .6rem;
    padding-top: 10px;
    color: #f22f2e;
    line-height: 1.2;
  }
}
.product{
  .product-img{
    z-index: 9;
    position: relative;
    float: left;
    width: 6rem;
    height: 4.5rem;
    text-align: center;
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
  .product-info{
    position: relative;
    padding-left: 6rem;
    h2{
      margin-bottom: .25rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      white-space: normal;
      line-height: 20px;
    }
    .num{
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: .7rem;
      color: $gray-dark;
    }
  }
  .product-gift{
    color: #1acda3;
  }
  .price{
    font-size: .9rem;
    color: #f22f2e;
    small{
      color: $gray-light;
      font-size: 12px;
      text-decoration: line-through;
      padding-left: 5px;
    }
  }
  p{
    margin-bottom: 0;
  }
}
.product.order-product{
  h2{
    margin-bottom: .6rem;
  }
}
.product-purchase{
  padding-top: 13px;
  padding-left: 6rem;
  .quantity{
    display: inline-block;
    position: absolute;
    left: 13px;
    & ~ .button{
      width: 4rem;
    }
  }
}
.swipeleft{
  transform:translateX(-50px);
  -webkit-transform:translateX(-50px);
}